<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!--	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>-->
<!--	<string>We would like to display your health records.</string>-->
<!--	<key>NSHealthShareUsageDescription</key>-->
<!--	<string>We would like to display your historical fitness data.</string>-->
</dict>
</plist>
